<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table border="1" cellpadding="1" cellspacing="1" width="500">
        <tr>
            <td>id</td>
            <td>商品图片</td>
            <td>商品名称</td>
            <td>出厂日期</td>
            <td>操作</td>
        </tr>
        <tr th:each="aa:${list}">
            <td th:text="${aa.id}"></td>
            <td>
                <img th:src="${aa.picture}" width="50" height="50"/>
            </td>
            <td th:text="${aa.goodsName}"></td>
            <td th:text="${aa.productDate}"></td>
            <td><a href="" th:href="@{'/updateGoods11/'+${aa.id}}">修改</a>
                <a href="" th:href="@{'/deleteGoods/'+${aa.id}}">删除</a>
            </td>
        </tr>
    </table>

</body>
</html>